@import '../../global/utils/init';
.slider_wrapper {
	overflow: hidden;
	justify-content: center;
	width: 100%;
	.block--inner-wrapper {
		max-width: 1440px;
		margin: 0px;
		padding: 0px;
		.flexslider  {
			margin: 0;
			border: 0;
			border-radius: 0;
			.field-content {
				&:after {
					background-color: rgba(0,0,0, 0.5);
				}
				img {
					height: 600px;
					
				}
			}
			.slider-title {
				font-size: 38px;
				font-weight: 600;
				position: absolute;
				top: 38%;
    			left: 60%;
			}
			.slider-body {
				font-size: 20px;
				max-width: 480px;
				position: absolute;
				top: 50%;
				left: 60%;
			}
			.flex-next {
				display: none;
			}
			.flex-prev {
				display: none;
			}
			.flex-control-nav {
				z-index: 4;
				bottom: 5%;
				li {
					margin: 0 10px;
					a {
						padding: 6px;
						background-color: white;
						opacity: .5;
					}
				}
			}
		}
	}
}



.front {
	.l-top {
		.block{
			&.slider_wrapper {
				padding: 0;
			}
		}
	}
}
