// Import site utilities.
@import '../../global/utils/init';

.l-header {
	box-shadow: 0 0 5px;
    background: #014968;
    width: 100%;
    z-index: 999;
	.header-site-name-wrapper {
		img {
			max-height: 90px;
		}
	}
	.header-menu {
		li {
			padding-top: 10px;
			a {
				color: #ffffff;
				font-size: 16px;
				font-weight: 600;
				padding: 0px 20px;
				text-decoration: none !important;
				&:after {
				    background: #cf5840;
				    content: ' ';
				    display: block;
				    height: 2px;
				    transition: width .2s;
				    width: 0%;
				}
				&:hover {
					&:after {
						width: 100%;
					}
				}
				&.active {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}



