@import '../../global/utils/init';
.l-header {
    z-index: 999;
    width: 100%;
    background: #014968;
	.header-site-name-wrapper {
		img {
			max-height: 90px;
		}
	}
	.header-menu {
		li {
			padding-top: 10px;
			a {
				color: #ffffff;
				font-size: 15px;
				text-decoration: none !important;
				padding: 0px 20px;
				&:after {
				    content: ' ';
				    display: block;
				    width: 0%;
				    height: 2px;
				    background: #cf5840;
				    transition: width .2s;
				}
				&:hover {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}



