.view-team {
	background-color: #f4eee9;
	padding: 100px;
	.views-view-grid {
		gap:25px;
		.views-grid-box {
			padding: 0;
			.views-field-nothing {
				background: white;
				// border: 1px solid #e0d9d9ba;
				border-top: 0;
				h3 {
					padding: 20px 20px 0;
				}
				p {
					padding: 0 20px;
		    		padding-bottom: 20px;
				}
			}
		}
	}
}