.block-views-services-block {
	.view-services {
		padding: 50px 0;
		.view-content {
			img {
				width: auto;
			}
			.field-content {
				display: flex;
			    flex-direction: column;
				.image {
					width: 100px;
					height: 90px;
				}
				.service-content {
					text-align: left;
					padding-bottom: 40px;
					.title {
						color: #6dc8be;
						font-size: 22px;
						line-height: 1em;
						padding-bottom: 20px;
						margin-top: 15px;
						a {
							text-decoration: none;
						}
					}
					.body {
						color: rgb(104, 104, 104);
						text-align: left;
					}
				}
			}
		}
	}
}