@import '../../global/utils/init';
.l-footer {
	background: #014968;
	display: flex;
	border: 0;
	.block {
		color: #ffffff;
		float: left;
		font-size: 18px;
		width: 33.33%;
		text-align: center;
		a {
			color: #ffffff;
		}
	}
}