.block-webform-client-block-50 {
	width: 50%;
	float: left;
	.block--inner-wrapper {
		.block-content {
			.webform-component--message {
				width: 600px;
			}
		}
	}
} 
.block-block-where-are-we {
	width: 50%;
	float: left;
	padding-left: 100px;
	.block--inner-wrapper {
		.block-content {
			h3 {
				padding-top: 50px;
			}
		}
	}
}