.contact_us {
	float: left;
	.block--inner-wrapper {
		.block-content {
			.webform-component--message {
				width: 600px;
			}
		}
	}
	input {
		border: 2px solid #afafaf3b;
		width: 100%;
	}
	textarea {
		border: 2px solid #afafaf3b;
	}

	.form-actions {
		input {
			background-color: #014968;
			border-radius: 50px;
		    border: 2px solid #014968;
		    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
			color: #ffffff !important;
			font-size: 16px;
			padding: 0px 40px;
			text-decoration: none;
		    -webkit-transition: all .3s ease;
		    transition: all .3s ease;  
			&:hover {
				background-color: rgba(216,228,213,.52);
				color: #000000 !important;
				-webkit-transition: all 1s;
				transition: all 1s;
			}
		}
	}
} 
.block-block-where-are-we {
	float: left;
	.block--inner-wrapper {
		.block-content {
			h3 {
				padding-top: 50px;
			}
		}
	}
}