.block-block-about-triplo {
	.block--inner-wrapper {
		padding: 50px 0;
		.block-content {
			h5 {
				font-size: 20px;
				font-style: italic;
			}
			.header {
				font-size: 38px;
				padding: 10px 0px;
				margin: 0;
			}
			h4 {
				font-weight: 600;
			}
			p{
				font-size: 15px;
				padding-top: 10px;
				padding-bottom: 30px;
			}
			.button {
				float: right;
				padding-top: 0px;
				padding-bottom: 0px;
				background: none;
				border: 0;
				a {
					background-color: #6dc8be;
					border-radius: 50px;
					border: 1px solid black;
					color: #f4f4f4;
					font-size: 16px;
					text-decoration: none;
					padding: 12px 40px;
				    border: 2px solid #6dc8be;
				    /* padding: 5px 20px; */
				    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
				    -webkit-transition: all .3s ease;
				    transition: all .3s ease;
					&:hover {
						color: black;
						background-color: rgba(216,228,213,.52);
						-webkit-transition: all 1s;
						transition: all 1s;
					}
				}
			}	
		}	
	}
}