.block-views-portfolio-block {
	background: red;
	.view-portfolio {
		justify-content:center;
		padding: 50px 0;
		.view-header {
			text-align: center;
			padding-bottom: 20px;
		}
		.view-content {
			.views-view-grid {
				gap:20px;
				.views-grid-box {
					border: 1px solid rgba(216,228,213,.52);
					box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
				}
			}
		}
		.view-footer {
			p {
				padding-top: 30px;
				a {
					background-color: #6dc8be;
					border-radius: 50px;
					border: 1px solid black;
					color: #f4f4f4;
					font-size: 16px;
					text-decoration: none;
					padding: 12px 40px;
				    border: 2px solid #6dc8be;
				    /* padding: 5px 20px; */
				    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
				    -webkit-transition: all .3s ease;
				    transition: all .3s ease;
					&:hover {
						background-color: rgba(216,228,213,.52);
						-webkit-transition: all 1s;
						transition: all 1s;
					}
				}
			}
		}
	}
}