// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #ffffff;
$color-black: #1b2b34; // for black hover
$color-bg-black: #000001; // for header and footer and background
$color-link-black: #000002; // for links
$color-text-black: #000000; // for texts
$black: $color-text-black;
$white: $color-white;
$gray: #808080;
$grey: $gray;

// Primary.
$color-mandy: #ec5f67;
$color-tan-hide: #f99157;
$color-saffron-mango: #fac863;
$color-de-york: #99c794;
$color-tradewind: #5fb3b3;
$color-danube: #69c;

// Grays.
$color-tundora: #464646;
$color-gray-dk: #343d46;
$color-gray-mid: #4f5b66;
$color-gray-lt: #65737e;
$color-gray-xlt: #a7adba;

// Opera colors
$brown: #a52a2a;
$blue: #0000ff;
$firebrick: #b22222;
$green: #008000;
$gainsboro: #dcdcdc;
$indigo: #4b0082;
$khaki: #f0e68c;
$lemonchiffon: #fffacd;
$olive: #808000;
$orange: #ffa500;
$pink: #ffc0cb;
$red: #ff0000;
$sienna: #a0522d;
$silver: #c0c0c0;
$tan: #d2b48c;
$teal: #008080;
$violet: #ee82ee;
$yellow: #ffff00;

$color-transparent-white: rgba(255, 255, 255, 0.8);
